// ANIMATIONS- bubbles
.yellowBubbles {
  height: 100%;
  width: 100%;
}

.bubble-1 {
  left: 300px;
  animation-delay: 1.2s;
}

.bubble-1 .bubble-animation-y {
  animation-delay: 0.6s;
}

.bubble-2 {
  left: 33px;
  animation-delay: 1.9s;
}

.bubble-2 .bubble-animation-y {
  animation-delay: 2s;
}

.bubble-3 {
  left: 225px;
  animation-delay: 4.7s;
}

.bubble-3 .bubble-animation-y {
  animation-delay: 3.8s;
}

.bubble-4 {
  left: 285px;
  animation-delay: 0s;
}

.bubble-4 .bubble-animation-y {
  animation-delay: 6.1s;
}

.bubble-5 {
  left: 115px;
  animation-delay: 1.3s;
}

.bubble-5 .bubble-animation-y {
  animation-delay: 6.9s;
}

.bubble-container {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
}

.bubble {
  background-color: $color-yellow;
  opacity: 0;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  box-shadow: 0 20px 30px rgb(230,202,0), inset 0 10px 30px 5px rgb(255,232,19);
}

.bubble-animation-x {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bubbleXAnimationFrames;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.bubble-animation-y {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: bubbleYAnimationFrames;
  animation-timing-function: linear;
}

@keyframes bubbleXAnimationFrames {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50px);
  }
}

@keyframes bubbleYAnimationFrames {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 0.51;
  }

  95% {
    transform: translateY(-280px);
    opacity: 0.51;
  }

  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
