*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  max-width: 1080px;
  margin: 0 auto;
}

svg, img {
  width: auto;
  height: auto;
  max-width: 100%;
}

main {
  max-width: $bp-wide;
  margin: 0 auto;
  padding: 1em;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $bp-large) {
    justify-content: flex-start;
  }
}

.event-list .event-card {
  overflow: hidden;
  flex: 0 0 100%;
  margin-bottom: $spacing-default;

  @media (min-width: $bp-medium) {
    flex: 0 0 calc(50% - #{$spacing-small})
  }

  @media (min-width: $bp-large) {
    flex: 0 0 calc(33.333% - #{$spacing-default})
  }
}

.event-list .event-card:not(:nth-child(3n + 3)) {
  @media (min-width: $bp-large) {
    margin-right: $spacing-default;
  }
}
