body {
  font-family: $font-stack;
  color: $color-black;
}

h1, h2, h3, h4, h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-text;
  margin-bottom: $spacing-default;
}

h5, p {
  font-weight: $font-weight-default;
}

h1 {
  font-size: $font-size-h1;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  font-size: $font-size-default;
  line-height: $line-height-text;
  margin-bottom: $spacing-default;
}
