$color-color-yellow: #FFCC00;
$color-cyaan:  #009B8F;
$color-red:  #EB5D56;
$color-creme:  #DECDBF;
$color-white: #ffffff ;
$color-black: #000000;

$color-hva-blue: #25167A;
$color-hva-green: #007d68;

$font-stack-headings: "Open Sans", Helvetica, Arial, sans-serif;
$font-stack-body: "Open Sans", Helvetica, Arial, sans-serif;

$font-size-h1: 2.25rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;

$font-weight-light: 300;
$font-weight-default: 400;
$font-weight-bold: 700;

$spacing-large: 2rem;
$spacing-medium: 1.5rem;
$spacing-default: 1rem;
$spacing-small: 0.5rem;
$spacing-tiny: 0.25rem;
