$color-yellow: #FFCC00;
$color-cyan:  #009B8F;
$color-red:  #EB5D56;
$color-creme:  #DECDBF;
$color-white: #ffffff ;
$color-black: #000000;
$color-almost-white: #fafafa;
$color-gray: #666;
$color-lightgray: #ccc;

$color-hva-blue: #25167A;
$color-hva-green: #007d68;

$font-stack: "Open Sans", Helvetica, Arial, sans-serif;

$font-size-h1: 2.25rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;
$font-size-default: 1rem;

$font-weight-default: 400;
$font-weight-bold: 700;

$spacing-large: 32px;
$spacing-medium: 24px;
$spacing-default: 16px;
$spacing-small: 8px;
$spacing-tiny: 4px;

$box-shadow-buttons: 0px 3px 5px rgba($color-black, 0.1);
