.button {
  background-color: $color-black;
  padding: $spacing-small $spacing-medium $spacing-small;
  margin: $spacing-medium;
  color: $color-white;
  font-size: $font-size-h6;
  font-weight: $font-weight-bold;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.6);
  text-align: center;
  font-variant: normal;
  text-decoration: none;
}

.button:hover {
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.5);
}

.button:active  {
  box-shadow: inset 4px 4px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #333333;
}

.button:disabled {
  color: #b3b3b3;
  background-color: #737373;
}
