$event-card-content-height: 110px;

.event-card {
  margin-top: 10px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #eee;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-default;
  }

  &__type {
    position: absolute;
    top: -10px;
    left: $spacing-default;
    padding: 0 10px;
  }

  &__title {
    font-weight: $font-weight-bold;
  }
}
