$event-card-content-height: 150px;

.event-card {
  margin-top: 10px;
  background: $color-yellow;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #eee;
  }

  &__content {
    position: relative;
    display: flex;
    height: $event-card-content-height;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-medium;
  }

  &__type {
    position: absolute;
    top: -10px;
    left: $spacing-medium;
    padding: 0 10px;
    background: $color-black;
    color: $color-white;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    line-height: 1.3;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__meta > * > *:not(:last-child) {
    margin-bottom: 5px;
  }

  &__title {
    font-weight: $font-weight-bold;
  }

  &__location, &__date {
    max-width: 14em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
