

:root {
  --yellow: #FFCC00;
  --yellow-light: #F7D44A;
  --yellow-dark: #F5C400;
  --cyaan:  #009B8F;
  --cyaan-light:  #A6D5C2;
  --cyaan-dark:  #23756E;
  --red:  #EB5D56;
  --red-light:  #F5625B;
  --red-dark:  #B61C3E;
  --creme:  #DECDBF;
  --creme-light:  #DBCABD;
  --creme-dark:  #756C65;
  --white: #ffffff ;
  --white-dark:  #f2f2f2;
  --black: #000000;

  --hva-blue: #25167A;
  --hva-green: #007d68;

  --font-stack-headings: "Open Sans", Helvetica, Arial, sans-serif;
  --font-stack-body: "Open Sans", "Roboto", sans-serif;

  --font-size-h1: 2.25rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-h4: 1.125rem;
  --font-size-h5: 1.125rem;
  --font-size-h6: 1rem;

  --font-weight-light: 300;
  --font-weight-default: 500;
  --font-weight-bold: 600;

  --spacing-medium: 32px;
  --spacing-small: 8px;
  --spacing-extra-small: 4px;

}


/* @font-face {
  font-family: "OpenSans";
  src: url('~assets/fonts/OpenSans.ttf');
  font-weight: var(--font-weight-default);
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url('~assets/fonts/OpenSansBold.ttf');
  font-weight: var(--font-weight-bold);
  font-display: swap;
} */

h1 {
  font-family: OpenSans;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

h2 {
  font-family: OpenSans;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

.Big-paragraph {
  font-family: OpenSans;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-default);
  color: var(--black);
}

h3 {
  font-family: OpenSans;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

h4 {
  font-family: OpenSans;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

h5 {
  font-family: OpenSans;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-default);
  color: var(--black);
}

h6 {
  font-family: OpenSans;
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

p {
  font-family: OpenSans;
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-default);
  color: var(--black);
}

.Annotations {
  font-family: OpenSans;
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-default);
  color: #4d4d4d;
}

.Action-button {
  border-width: 0;
  width: 221px;
  height: 46px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.6);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 3.1px;
  padding-bottom: 2.9px;
  background-color: var(--black);
  color: var(--white);
  font-family: OpenSans;
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.Action-button-hover, .Action-button:hover{
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.5);
}

.Action-button-active, .Action-button:active  {
  box-shadow: inset 4px 4px 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #333333;
}

.Action-button-disabled, .Action-button-disabled:hover{
  color: #b3b3b3;
  background-color: #737373;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.6);
}
