{% from "components/test-component.html" import testComponent %}
{% from "components/form/form.html" import form %}
{% from "components/button/button.html" import button %}

{% macro modularContent(content) %}
  <div class="modular-content" id="modular-content">
    {% for item in content %}

    {% if item.component === "Test component" %}
      {{ testComponent(item) }}
    {% endif %}

    {% if item.component === "Form" %}
      {{ form(item) }}
    {% endif %}

    {% if item.component === "Button" %}
      {{ button(item) }}
    {% endif %}
    {% endfor %}
  </div>
{% endmacro %}
