{% macro modularContent(content) %}
  <div class="modular-content" id="modular-content">
    {% for item in content %}

    {% if item._editable %}
    {{ item._editable | safe }}
    {% endif %}

    {% if item.componentSlug === 'events' %}
      {% from 'components/events/events.html' import component %}
      {{ component(item) }}
    {% endif %}

    {% if item.componentSlug === 'hero-header' %}
      {% from 'components/hero-header/hero-header.html' import component %}
      {{ component(item) }}
    {% endif %}

    {% if item.componentSlug === 'form' %}
      {% from 'components/form/form.html' import component %}
      {{ component(item) }}
    {% endif %}

    {% if item.componentSlug === 'button' %}
      {% from 'components/button/button.html' import component %}
      {{ component(item) }}
    {% endif %}

    {% if item.componentSlug === 'latest-events' %}
      {% include('components/latest-events/latest-events.html') %}
    {% endif %}

    {% if item.componentSlug === 'assessment_elements' %}
      {% from 'components/assessment_elements/assessment_elements.html' import component %}
      {{ component(item) }}
    {% endif %}

    {% if item.componentSlug === 'description_list' %}
      {% from 'components/description_list/description_list.html' import component %}
      {{ component(item) }}
    {% endif %}


    {% endfor %}
  </div>
{% endmacro %}
