.assessment_elements {
  display: flex;
  flex-wrap: wrap;
}

.assessment_elements h2 {
  width: 100%;
  border-bottom: 3px solid $color-yellow;
  padding: $spacing-small 0;
}

.assessment_elements p {
  width: 100%;
}

.assessment_elements > * {
  margin-bottom: $spacing-default;
}
