<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/index.css">
  <title>Thanks for your subscription!</title>
</head>

<body id="submit" class="{{status}}">
  <main>
    <div class="container">
      <div class="inner">
        <h1>{{ msg.title }}</h1>
        <p>{{ msg.text }}</p>
        <p><a href="/">Klik hier om terug te gaan naar de homepagina.</a></p>
      </div>
    </div>
  </main>
</body>
</html>
