.description_item {
  display: flex;
  flex-wrap: wrap;
}

.description_item dt {
  font-size: $font-size-h3;
  line-height: $line-height-text;
  width: 75%;
  padding: $spacing-medium;
}

.description_item dd {
  width: 100%;
}

.description_item_icon-container {
  display: flex;
  padding: $spacing-small;
  max-width: 2.8rem;
  width: 25%;
}

.description_item_icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
