// GLOBAL

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// SECTIONS
.event-details__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $header-height;
}

.event-details__description {
  max-width: 45vw;
}

.event-details__img {
  max-width: 45vw;
}

.event-details__information {
  display: flex;
  background-color: $color-smokewhite;
}

.event-details__contactForm {
  // max-width: 45vw;
}


//SUBELEMENTS- header
.event-details__header__title {
  text-shadow: 0 0 3px $color-darkyellow;
}

.event-details__header__subtitle {
  font-size: $font-size-h2;
}

//SUBELEMENTS- description


//SUBELEMENTS- information
.event-details__information__meta {

}

.event-details__information__section {

}



//SUBELEMENTS- contactForm
.event-details__contactForm__form {

}


// extra's
.neonBorder {
  border: 2px solid $color-yellow;
  box-shadow: 0 0 4px 2px $color-darkyellow, inset 0 0 4px 2px $color-darkyellow;
}
