// GLOBAL

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// SECTIONS
.event-details__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $header-height;
  margin-bottom: $spacing-large;
}

.event-details__img img {
  width: 100%;
  height: 100%;
}

.event-details__img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  object-fit: cover;
}

.event-details__introduction {
  display: flex;
  margin-bottom: $spacing-large;
}

.event-details__information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: $spacing-medium;
}

//SUBELEMENTS- header
.event-details__header__title {}

.event-details__header__subtitle {
  font-size: $font-size-h2;
}
//SUBELEMENTS- introduction
.event-details__introduction__description {
  max-width: 35vw;
  padding: $spacing-large;
  align-self: center;
  border: solid $color-yellow;
  border-width: 0 0 1px 1px;
  box-shadow: 0 0 2px -1px $color-darkyellow, inset 0 0 4px -1px $color-darkyellow;
  border-radius: $border-radius-default;
}

.event-details__introduction__description h2 {
  margin-bottom: $spacing-medium;
}

.event-details__introduction__description p {
  margin-bottom: $spacing-default;
}


.event-details__introduction__meta {
  display: flex;
  flex-direction: column;
  border: solid $color-yellow;
  border-width: 0 1px 1px 0;
  box-shadow: 0 -4px -2px 0 #ebd511, 0 4px 4px 2px #fff915;
  border-radius: $border-radius-default;
  padding: $spacing-large;
}

.event-details__introduction__meta h2 {
  // padding: $spacing-small $spacing-small $spacing-default;
  margin-bottom: $spacing-small;
}

.event-details__introduction__meta p {
  padding: $spacing-small $spacing-small $spacing-default 0;
  margin-bottom: $spacing-default;
  font-size: $font-size-h3;
  font-weight: $font-weight-default;
  border-radius: $border-radius-default;
}

.event-details__introduction__meta p::before {
  content: "⬤";
  color: $color-yellow;
  box-shadow: 0 -4px -2px 0 $color-smokewhite, 0 4px 4px 2px $color-smokewhite;
  margin-right: $spacing-small;
}



//SUBELEMENTS- information
.event-details__information__section {
  padding: $spacing-medium;
  margin-bottom: $spacing-huge;
  margin-right: $spacing-large;
  min-width: 25vw;
  max-width: 35vw;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 6px 6px 9px #e0e0e0, -6px -6px 9px #ffffff;
  border-radius: $border-radius-default;
}

.event-details__information__section h2 {
  border-bottom: 3px solid $color-yellow;
  box-shadow: 0 0 0 -1px $color-darkyellow, inset 0 0 0 -1px $color-darkyellow;
  padding: $spacing-small;
  max-width: 90%;
  max-height: 100%;
}

.event-details__information__section h2 span {
  max-width: 90%;
}

.event-details__information__section p {
  margin-bottom: $spacing-default;
}

.event-details__information__section h3 {
  padding: $spacing-small;
}

.event-details__information__section h3::before {
  content: "⬤";
  color: $color-yellow;
  margin-right: $spacing-small;
}

.event-details__contactForm {
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #f7f7f7, -6px -6px 12px #ffffff;
  padding: $spacing-medium;
  margin-bottom: $spacing-huge;
  margin-right: $spacing-large;
  border-radius: $border-radius-default;
  min-width: 25vw;
  max-width: 35vw;
}

//SUBELEMENTS- contactForm
.event-details__contactForm h2 {
  border-bottom: 3px solid $color-yellow;
  box-shadow: 0 0 0 -1px $color-darkyellow, inset 0 0 0 -1px $color-darkyellow;
  padding: $spacing-small;
  max-width: 80%;
  max-height: 100%;
  margin-bottom: $spacing-medium;
}

.event-details__contactForm h2 span {
  max-width: 90%;
}

.event-details__contactForm p {
  padding: $spacing-small $spacing-small $spacing-default 0;
  max-width: 70%;
}

.event-details__contactForm__form {
  padding: $spacing-small $spacing-small $spacing-default 0;
}

.event-details__contactForm__form .app-form__input-group {
  max-width: 50%;
}

// EXTRAS- bubbles
.yellowBubbles {
  height: 100%;
  width: 100%;
}

.bubble-1 {
  left: 300px;
  animation-delay: 1.3s;
}

.bubble-1 .bubble-animation-y {
  animation-delay: 0.7s;
}

.bubble-2 {
  left: 33px;
  animation-delay: 2s;
}

.bubble-2 .bubble-animation-y {
  animation-delay: 2.1s;
}

.bubble-3 {
  left: 225px;
  animation-delay: 4.7s;
}

.bubble-3 .bubble-animation-y {
  animation-delay: 3.8s;
}

.bubble-4 {
  left: 285px;
  animation-delay: 0s;
}

.bubble-4 .bubble-animation-y {
  animation-delay: 6s;
}

.bubble-5 {
  left: 115px;
  animation-delay: 1.5s;
}

.bubble-5 .bubble-animation-y {
  animation-delay: 7s;
}

.bubble-container {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
}

.bubble {
  background-color: $color-yellow;
  opacity: 0;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  box-shadow: 0 20px 30px rgb(230,206,0), inset 0 10px 30px 5px rgb(255,231,19);
}

.bubble-animation-x {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bubbleXAnimFrames;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.bubble-animation-y {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: bubbleYAnimFrames;
  animation-timing-function: linear;
}
@keyframes bubbleXAnimFrames {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50px);
  }
}
@keyframes bubbleYAnimFrames {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 0.5;
  }

  95% {
    transform: translateY(-280px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
