{% from "../form/form.html" import component as form %}

{% macro eventDetails(event) %}
<article class="event-details">
  <header class="event-details__header">
    <h1 class="event-details__header__title">{{event.title}}</h1>
    <p class="event-details__header__subtitle">{{event.subtitle}}</p></header>
  <div class="event-details__main neonBorder">
    <div class="event-details__main__information neonBorder">
      <p>
        Locatie:
        <span>{{event.location}}</span>
      </p>
      <p>
        Tijd:
        <span>{{event.start_date}}</span>
      </p> </div>
    <div class="event-details__main__description neonBorder">{{event.description | safe}}</div>
    <img class="event-details__main__img neonBorder" src="{{event.image}}" alt="{{event.title}}" />
  </div>
  <div class="event-details__form neonBorder">
    {% if event.contact_form %}
    {{ form(event.contact_form[0]) }}
    {% endif %}</div>
</article>
{% endmacro %}
