{% from "../button/button.html" import component as button %}
{% from "../app-icon/app-icon.html" import appIcon %}

<header class="main-menu">
  <div class="main-menu__top">
    <div class="container main-menu__inner">
      <div class="main-menu__logo">
        <a href="/">
          {{ appIcon('logo-nopadding.svg', 'CMD: Amsterdam')}}
        </a>
      </div>
      {{ button({ type: 'button', text: 'Menu' }) }}
    </div>
  </div>
  <nav>
    {% for item in site.navigation.mainMenu.content.navigation_link %}
    <a href="{{item.link.cached_url | correctInternalUrl}}">{{item.name}}</a>
    {% endfor %}
  </nav>
</header>
