.main-menu {
  background-color: $color-yellow;
  border-bottom: 2px solid $color-darkyellow;

  .inner {
    max-width: 80em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $color-black;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75em;
  }
}
