.app-form__input-group:not(:last-child) {
  margin-bottom: $spacing-medium;
}

.app-form__input,
.app-form__label {
  display: block;
}

.app-form__label {
  margin-bottom: $spacing-small;
}

.app-form__input {
  width: 100%;
  border: 2px solid;
  border-color: $color-lightgray;
  border-radius: 5px;
  padding: $spacing-small;
  background: white;
}

.app-form__input:focus {
  padding: 8px;
  outline: none;
  border-color: $color-black;
}
