{% from "../../form/form.html" import component as form %}

{% macro eventDetails(event) %}
<article class="event-details">
  <div class="event-details__back-to-events-link-container">
    <a href="/events" class="event-details__back-to-events-link container">Terug naar events</a>
  </div>

  <header class="hero-header event-details__header">
    <div class="container">
      <h1 class="hero-header__title">{{ event.title }}</h1>
      <p class="hero-header__subtitle">{{ event.subtitle }}</p>
    </div>
  </header>

  <figure class="event-details__img-container container">
    <img class="event-details__img" src="{{ event.image }}" alt="{{ event.title }}" />
  </figure>

  <div class="event-details__introduction container">
    <section class="event-details__description">
      {% if event.description %}
      {{event.description | safe}}
      {% endif %}
    </section>
    <div class="event-details__description event-details__introduction-meta">
      <section>
        <h2>Locatie:</h2>
        <p>{{ event.location }}</p>
      </section>
      <section>
        <h2>Tijd:</h2>
        <p>{{ event.start_date }}</p>
      </section>
    </div>
  </div>

  <div class="event-details__information container">
    {% if event.section_text %}
    {% for section_text in event.section_text %}
    <section class="event-details__information__section">
      <h2>{{ section_text.title }}</h2>
      {{ section_text.text | safe }}
    </section>
    {% endfor %}
    {% endif %}

    {% if event.assessment_elements %}
    <section class="event-details__information__section">
      {% for assessment_elements in event.assessment_elements %}
      {% if assessment_elements.title %}
      <h2>{{ assessment_elements.title }}</h2>
      {% endif %}
      {% if assessment_elements.text %}
      {{ assessment_elements.text | safe }}
      {% endif %}

      {% if assessment_elements.description_list %}
      <dl>
        {% for description_list in assessment_elements.description_list %}
        <div class="assessment_element_list">
          <dt>
            <figure class="event-details__icon-container">
              <img class="event-details__icon" src="{{ description_list.icon }}" alt="{{ description_list.term }}" />
            </figure>{{ description_list.term }}
          </dt>
          <dd>{{ description_list.description  | safe }}</dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}
      {% endfor %}
    </section>
    {% endif %}


  </div>
  <div class="event-details__contact-texts container">
    {% if event.contact_form_text %}
    {% for contact_form_text in event.contact_form_text %}
    {% if contact_form_text.title %}
    <section class="event-details__contact-texts__section">
      <h2>{{contact_form_text.title}}</h2>
      {{contact_form_text.text | safe}}
    </section>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  <div class="event-details__contact-form container">
    {% if event.contact_form %}
    {{ form(event.contact_form[2]) }}
    {% endif %}
  </div>
</article>
{% endmacro %}
