// GLOBAL
.event-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// SECTIONS
.event-details__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $header-height;
  margin-bottom: $spacing-large;
}

.event-details__img img {
  width: 100%;
  height: 100%;
}

.event-details__img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  object-fit: cover;
}

.event-details__introduction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: $spacing-large;
}

.event-details__information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: $spacing-medium;
}

//SUBELEMENTS- header
.event-details__header__title {
  margin-bottom: $spacing-small;
}

.event-details__header__subtitle {
  font-size: $font-size-h2;
}

//SUBELEMENTS- introduction
.event-details__introduction__description {
  align-self: center;
  border: solid $color-yellow;
  border-width: 0 0 1px 1px;
  box-shadow: 0 0 2px -1px $color-darkyellow, inset 0 0 4px -1px $color-darkyellow;
  border-radius: $border-radius-default;
  padding: $spacing-large;
}

.event-details__introduction__description h2 {
  margin-bottom: $spacing-medium;
}

.event-details__introduction__description p {
  margin-bottom: $spacing-default;
}

.event-details__introduction__meta {
  display: flex;
  flex-direction: column;
  border: solid $color-yellow;
  border-width: 0 1px 1px 0;
  box-shadow: 0 -4px -2px 0 $color-yellow, 0 4px 4px 2px $color-darkyellow;
  border-radius: $border-radius-default;
  padding: $spacing-large;
}

.event-details__introduction__meta h2 {
  margin-bottom: $spacing-small;
}

.event-details__introduction__meta p {
  font-size: $font-size-h3;
  font-weight: $font-weight-default;
  border-radius: $border-radius-default;
  padding: $spacing-small $spacing-small $spacing-default 0;
  margin-bottom: $spacing-default;
}

.event-details__introduction__meta p::before {
  content: "⬤";
  color: $color-yellow;
  box-shadow: 0 -4px -2px 0 $color-smokewhite, 0 4px 4px 2px $color-smokewhite;
  margin-right: $spacing-small;
}

//SUBELEMENTS- information
.event-details__information__section {
  background: $color-white;
  box-shadow: 6px 6px 9px $color-smokewhite, -6px -6px 9px $color-white;
  border-radius: $border-radius-default;
  padding: $spacing-medium;
  margin-bottom: $spacing-huge;
  margin-right: $spacing-large;
}
@media (min-width: $bp-small) {
  .event-details__contactForm,
  .event-details__information__section,
  .event-details__introduction__description,
  .event-details__introduction__meta {
    min-width: 80vw;
    max-width: 90vw;
  }
}
@media (min-width: $bp-medium) {
  .event-details__contactForm,
  .event-details__information__section,
  .event-details__introduction__description,
  .event-details__introduction__meta {
    min-width: 60vw;
    max-width: 65vw;
  }
}
@media (min-width: $bp-large) {
  .event-details__contactForm,
  .event-details__information__section,
  .event-details__introduction__description,
  .event-details__introduction__meta {
    min-width: 35vw;
    max-width: 40vw;
  }
}
@media (min-width: $bp-wide) {
  .event-details__contactForm,
  .event-details__information__section,
  .event-details__introduction__description,
  .event-details__introduction__meta {
    min-width: 30vw;
    max-width: 35vw;
  }
}

.event-details__information__section h2 {
  border-bottom: 3px solid $color-yellow;
  box-shadow: 0 0 0 -1px $color-darkyellow, inset 0 0 0 -1px $color-darkyellow;
  max-width: 80%;
  padding: $spacing-small;
  margin-bottom: $spacing-medium;
}

.event-details__information__section h2 span {
  max-width: 90%;
}

.event-details__information__section p {
  margin-bottom: $spacing-default;
  max-width: 85%;
}

.event-details__information__section h3 {
  padding: $spacing-small;
}

.event-details__information__section h3::before {
  content: "⬤";
  color: $color-yellow;
  margin-right: $spacing-small;
}

.event-details__contactForm {
  background: $color-white;
  box-shadow: 6px 6px 12px $color-smokewhite, -6px -6px 12px $color-white;
  border-radius: $border-radius-default;
  padding: $spacing-medium;
  margin-bottom: $spacing-huge;
  margin-right: $spacing-large;
}

.event-details__contactForm h2 {
  border-bottom: 3px solid $color-yellow;
  box-shadow: 0 0 0 -1px $color-darkyellow, inset 0 0 0 -1px $color-darkyellow;
  max-width: 80%;
  padding: $spacing-small;
  margin-bottom: $spacing-medium;
}

.event-details__contactForm h2 span {
  max-width: 90%;
}

.event-details__contactForm h2:nth-child(5) {
  border-bottom: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0;
}

.event-details__contactForm p {
  padding: $spacing-small $spacing-small $spacing-default 0;
  margin-bottom: $spacing-default;
  max-width: 85%;
}

.event-details__contactForm__form {
  padding: $spacing-small $spacing-small $spacing-default 0;
}

.event-details__contactForm__form .app-form__input-group {
  max-width: 80%;
}
